In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 1.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488493 sha256=678c97ff1b61d7393985c35ffc54781076c7c4e62154fb8902aa85ec2e8306d2
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
from pyspark.sql import HiveContext, Row

In [3]:
from pyspark.sql import SparkSession
if __name__ == "__main__":
    #session=SparkSession.builder.appName("ex1").master("local[2]").getOrCreate()
    #dataFrameReader=session.read
    session=SparkSession.builder.enableHiveSupport().getOrCreate()
    sc=session.sparkContext
    hiveCtx = HiveContext(sc)

/usr/local/lib/python3.10/dist-packages/pyspark/sql/context.py:733: FutureWarning: HiveContext is deprecated in Spark 2.0.0. Please use SparkSession.builder.enableHiveSupport().getOrCreate() instead.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/pyspark/sql/context.py:113: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [8]:
#Creating table from json file
import pandas
data=pandas.read_json("BranchOffice.json")
df=hiveCtx.createDataFrame(data)
df.registerTempTable("jsontable")

/usr/local/lib/python3.10/dist-packages/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [9]:
result=hiveCtx.sql("SELECT * FROM jsontable")
result.show(5,truncate=False)

+---------------+-----------+---------------+-------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|name           |location   |address        |revenue|employees                                                                                                                                                                                                                                   |
+---------------+-----------+---------------+-------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Branch Office 1|New York   |123 Main Street|3.2    |[{name -> John Doe, position -> Manager, phone -> 555-123-4567, email -> john.doe@example.com}, {name -> Jane Smith, position -> Assistant Manager, phone -> 555-987-6543, email -> jane.smith@example.com}]                                |
|Branch Office 2|Los Angeles|456 Oak Avenue |5.5    |[{name -> Michael Johnson, position -> Manager, phone -> 555-456-7890, email -> michael.johnson@example.com}, {name -> Emily Brown, position -> Assistant Manager, phone -> 555-876-5432, email -> emily.brown@example.com}]                |
|Branch Office 3|New York   |789 Elm Street |4.2    |[{name -> David Lee, position -> Manager, phone -> 555-789-0123, email -> david.lee@example.com}, {name -> Sarah Taylor, position -> Assistant Manager, phone -> 555-654-3210, email -> sarah.taylor@example.com}]                          |
|Branch Office 4|Los Angeles|101 Pine Lane  |8.1    |[{name -> Christopher Martinez, position -> Manager, phone -> 555-321-0987, email -> christopher.martinez@example.com}, {name -> Jessica Nguyen, position -> Assistant Manager, phone -> 555-543-2109, email -> jessica.nguyen@example.com}]|
|Branch Office 5|New York   |202 Maple Drive|7.3    |[{name -> Daniel Garcia, position -> Manager, phone -> 555-210-9876, email -> daniel.garcia@example.com}, {name -> Megan Wilson, position -> Assistant Manager, phone -> 555-432-1098, email -> megan.wilson@example.com}]                  |
+---------------+-----------+---------------+-------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [10]:
result2=hiveCtx.sql("Select * from jsontable where location='Los Angeles'")
result2.show()

+---------------+-----------+--------------+-------+--------------------+
|           name|   location|       address|revenue|           employees|
+---------------+-----------+--------------+-------+--------------------+
|Branch Office 2|Los Angeles|456 Oak Avenue|    5.5|[{name -> Michael...|
|Branch Office 4|Los Angeles| 101 Pine Lane|    8.1|[{name -> Christo...|
+---------------+-----------+--------------+-------+--------------------+

In [11]:
result3=hiveCtx.sql("Select * from jsontable where employees[0].name='John Doe'")
result3.show()

+---------------+--------+---------------+-------+--------------------+
|           name|location|        address|revenue|           employees|
+---------------+--------+---------------+-------+--------------------+
|Branch Office 1|New York|123 Main Street|    3.2|[{name -> John Do...|
+---------------+--------+---------------+-------+--------------------+

In [12]:
#Practical Exercise: Display the infomration where location is "New York" and revenue is less than 5.0